<%= form_for :booking, url:{action: 'create'} do |f|%>
	<p>
		<%= f.label :Date_of_Travel%>
		<%= f.datetime_select :date_of_travel%>
	</p>

	<p>
		<%= f.label :Name_of_Passenger%>
		<%= f.text_field :name_of_passenger%>
	</p>

	<p>
		<%= f.label :No_of_travellers%>
		<%= f.text_field :no_of_travellers%>
	</p>
	
	<p>
		<%= f.label :no_of_child%>
		<%= f.text_field :no_of_child%>
	</p>
	
	<p>
		<%= f.label :Travelling_time%>
		<%= f.text_field :time_of_travel%>
	</p>
	
	<%= submit_tag ('submit')%>
<%end%>